
.upper-nav {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-kerning: normal;
}

.lower-nav {
  font-family: 'Playfair Display', serif;
}

.image-area {
  width: 75%;
  height: auto;
  overflow: auto;
}

#imageOne {
  width: 25%;
  height: auto;
  float: left;
  overflow: auto;
}

#imageTwo {
  width: 25%;
  height: auto;
  float: left;
  overflow: auto;
}

#imageThree {
  width: 25%;
  height: auto;
  float: left;
  overflow: auto;
}
font-family: 'Lobster', cursive;

font-family: 'EB Garamond', serif;
