
.upper-nav {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-kerning: normal;
}

.lower-nav {
  font-family: 'Playfair Display', serif;

}

font-family: 'Lobster', cursive;

font-family: 'EB Garamond', serif;
